Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Set default font family and size */
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

/* Remove form input borders */
input,
select {
  border: none;
  outline: none;
}

/* Set default button styles */
button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  margin: 10px 0;
}

button:enabled {
  cursor: pointer;
}