.loading {
  margin-top: 39vh;
  margin-left: 42vw;
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top-color: #BDB76B;
  animation: is-rotating 1s infinite;
  border-radius: 50%;
  margin-bottom: 2%;
}

.page-search-loading .loading {
  margin-top: 38vh;
}

.page-loading-login {
  margin-left: -150px;
}


@media screen and (min-width: 992px) {
  .loading {
    position: absolute;
    margin-left: 59vw;
    margin-top: 45vh;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #BDB76B;
    animation: is-rotating 1s infinite;
    border-radius: 50%;
    margin-bottom: 2%;
  }

  .page-search-loading .loading {
    margin-top: 40vh;
  }
}


@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}