.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.page-loading p {
  text-align: center;
  margin-top: 20px;
}

.loading {
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top-color: #BDB76B;
  border-radius: 50%;
  animation: is-rotating 1s infinite;
  margin-bottom: 2%;
}

@media screen and (min-width: 992px) {
  .page-loading p {
    margin-left: 300px;
  }

  .loading {
    margin-top: 100px;
    margin-left: 300px;
  }
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}