.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}


.main-content-album {
  width: 80%;
  height: 100vh;
  background-color: #EFF3F9;
  padding: 20px;
  overflow-y: hidden;
}

.page-album {
    display: flex;
    justify-content: left;
}

.songs {
  padding: 2%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  overflow-y: scroll;
  height: 64%;
  margin-top: 2%;
}

audio[data-testid="audio-component"] {
  width: 1900px;
  max-width: 600px;
  border-radius: 10px;
  background-color: #EFF3F9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

audio[data-testid="audio-component"]:hover {
  cursor: pointer;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

audio[data-testid="audio-component"]::-webkit-media-controls-panel {
  background-color: #EFF3F9;
  border-radius: 10px;
}

audio[data-testid="audio-component"]::-webkit-media-controls-play-button {
  background-color: #e9be3e;
  border-radius: 50%;
  margin-right: 5px;
}

audio[data-testid="audio-component"]::-webkit-media-controls-timeline {
  background-color: #ddd;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

audio[data-testid="audio-component"]::-webkit-media-controls-volume-slider {
  background-color: #ddd;
  border-radius: 10px;
}

audio[data-testid="audio-component"]::-webkit-media-controls-mute-button {
  background-color: #e9be3e;
  border-radius: 50%;
}

audio[data-testid="audio-component"]::-webkit-media-controls-volume-slider-thumb {
  background-color: #333;
  border-radius: 50%;
}

/* div {
  width: 500px;
  padding: 20px;
  background-color: lightgray;
  text-align: center;
} */

/* audio {
  width: 100%;
} */

label {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 50px;
}

input[type="checkbox"] {
  max-width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #EFF3F9;
  border: 2px solid #EFF3F9;
  border-radius: 50%;
  /* box-shadow: inset 0 0 0 4px #fff; */
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-right: 10px;
  position: relative;
  transition: all 0.3s;
  margin-right: 38px;
  /* box-shadow: none;
  border: none;
  background-color: none;
  width: 45px;
  height: 40px;
  margin-right: 25px; */
}

input[type="checkbox"]:before {
  content: "\2764";
  color: #000;
  font-size: 30px;
  position: absolute;
  top: -30px;
  left: 5px;
}

input[type="checkbox"]:checked {
  box-shadow: none;
  border: none;
  background-color: none;
  width: 45px;
  height: 40px;
  margin-right: 40px;
}

input[type="checkbox"]:checked::before {
  content: "\2764";
  color: #f00;
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 9px;
}

@media all and (max-width: 1280px) {
  .albums {
    padding: 2%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    overflow-y: scroll;
    height: 43%;
    margin-top: 2%;
  }

  .songs {
    padding: 2%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    overflow-y: scroll;
    height: 56%;
    margin-top: 2%;
  }
  }