.page-profile {
  display: flex;
  justify-content: left;
  overflow-y: scroll;
}


/* .main-content-profile {
  width: 80%;
  height: 100vh;
  background-color: #EFF3F9;
  padding: 20px;
  /* margin-left: 20px; */
  /* overflow-y: scroll; */
/* } */

@media all and (max-height: 1366px) {
.main-content-profile {
  width: 80%;
  height: 100vh;
  background-color: #EFF3F9;
  padding: 20px;
  /* margin-left: 20px; */
  overflow-y: scroll;
  max-height: 30%;
}
}

.form-edit-profile {
  flex-direction: column;
  align-items: center;
  padding: 1em;
  max-width: 400px;
  max-height: 100px;
}

.form-edit-profile div {
  text-align: center;
  margin-left: 30px;
}

.form-edit-profile button {
  margin-left: 10px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

label div {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.input-text-edit-name,
textarea {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1em;
  width: 100%;
  margin-left: 10px;
}

/* button {
  background-color: blue;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
} */

button[type="submit"]:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.email-user {
  margin-bottom: 10px;
  margin-top: 0px;
}

.name-user{
  margin-bottom: 10px;
}

.section-name {
  font-size: 30px;
}


.image-profile {
  max-width: 500px;
  max-height: 500px;
  border-radius: 250px;
}

@media all and (max-height: 1366px) {
.image-profile {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50px;
}
}

.infos-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width:1366px) {
.infos-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 85%;
  /* overflow-y: scroll; */
}

.infos-userdois {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 85%;
  overflow-y: scroll;
}
}


.infos-userdois {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.description-user {
  word-wrap: break-word;
}

.description-box {
  white-space: pre-wrap;
  width: 400px;
  height: 200px;
  margin-top: 5%;
  overflow-y: scroll;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
}

@media all and (max-height: 1366px) {
  .description-box {
    white-space: pre-wrap;
    width: 400px;
    height: 130px;
    margin-top: 5%;
    overflow-y: scroll;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
  }
}

.link-edit-profile {
  margin-top: 50%;
  background-color: #e8be3f;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}

@media all and (max-height: 1366px) {
.link-edit-profile {
  margin-top: 1%;
  background-color: #e8be3f;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  margin-top: 6em;
  cursor: pointer;
}
}