.page-profile {
  display: flex;
  justify-content: left;
  /* overflow-y: hidden; */
}


.main-content-profile {
  width: 80%;
  height: 100vh;
  background-color: #EFF3F9;
  padding: 20px;
  /* margin-left: 20px;
  overflow-y: hidden; */
}

.form-edit-profile {
  flex-direction: column;
  align-items: center;
  padding: 1em;
  max-width: 400px;
  max-height: 100px;
}

.form-edit-profile div {
  text-align: center;
  margin-left: 30px;
}

.form-edit-profile button {
  margin-left: 10px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

label div {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.input-text-edit-name,
textarea {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1em;
  width: 100%;
  margin-left: 10px;
}

/* button {
  background-color: blue;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
} */

button[type="submit"]:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.link-edit-profile {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.email-user {
  margin-bottom: 30px;
  margin-top: 0px;
}

.name-user{
  margin-bottom: 30px;
}

.name-user-header{
  margin-left: 20px;
  font-size: 18px;
}

h2 {
  margin-bottom: 30px;
}

.section-name {
  font-size: 30px;
}

.image-profile-header {
  position: absolute;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 20px;
  bottom: 70px;
  left: 32px;
  margin-left: 20px;
}