    .page-search {
      display: flex;
      height: 100vh;
      width: 100%;
    }
    
    .main-content-search {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      background-color: #EFF3F9;
      padding: 20px;
      /* padding-left: 0px;
      margin-left: 20px; */
    }

    .results-text-div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

   

    .albums {
      padding: 2%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      /* background-color: white; */
      /* margin-top: 180px; */
      display: grid;
      grid-template-columns: repeat(6, 250px);
      /* justify-content: row; */
      /* background-color: blue; */
      overflow: scroll;
      max-height: 63%;
      max-width: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      /* border-radius: 30px; */
    }

    @media all and (max-width: 1366px) {
      .albums {
        padding: 2%;
        box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
        /* background-color: blue; */
        /* margin-top: 180px; */
        display: grid;
        grid-template-columns: repeat(4, 250px);
        /* background-color: blue; */
        overflow: scroll;
        max-height: 63%;
        max-width: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        /* border-radius: 30px; */
        /* align-content: center; */
        /* align-items: center; */
        justify-content: center;
        justify-items: center;
      }
    }

    
    .results-text {
      /* position: absolute;
      margin-left: 350px;
      margin-top: -120px; */
      display: flex;
      align-content: center;
      justify-content: center;
      max-width: 30%;
      align-items: center;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 2%;
    }
    
    
    .input-artist {
      margin-left: 0px;
      margin-bottom: 0px;
      width: 200px;
      height: 12px;
      padding: 10px;
      font-size: 16px;
      border-radius: 23px;
      border: 2px solid gray;
    }
    
    .input-artist-after {
      margin-left: 0px;
      /* margin-bottom: px; */
      width: 200px;
      height: 12px;
      padding: 10px;
      font-size: 16px;
      border-radius: 23px;
      border: 2px solid gray;
    }
    
    input:focus {
      border-color: black;
      outline: none;
    }
    
    button {
      border: none;
      background-color: hsl(45, 79%, 58%);
      color: white;
      padding: 10px 20px;
      margin-left: 20px;
      margin-top: 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }
    
    h2 {
      font-size: 20px;
    }
    
    a {
      text-decoration: none;
    }
    
    /* .form-search {
      display: flex;
    } */
    
    .form-div {
      margin-bottom: 2%;
    }
    
    .form-search .input-artist::placeholder {
      font-size: smaller;
    }